$primary-color: #82b35a;
$secondary-color: #485b38;
$font-stack: 'Fira Sans', sans-serif;
$text-color: #1c1c1c;
$text-muted-color: #c3c3c3;

@mixin centerHorizontally {
  margin: 0 auto;
}

@mixin resetMarginPadding {
  padding: 0;
  margin: 0;
}

.underline {
  text-decoration: underline;
}

.strikethrough {
  text-decoration: line-through;
}

.blog-list {
  padding: 0;
}

.blog-link-container {
  margin-bottom: 2rem;
  list-style-type: none;
  border-bottom: 1px solid $text-color;

  h2 {
    margin: 0.5rem 0 1rem 0;
    color: $text-color;
  }
}

.blog-link-container:last-of-type {
  border-bottom: none;
  margin-bottom: 0;
}

.blog-description {
  color: $text-color;
}

html,
body {
  @include resetMarginPadding();
  font-family: $font-stack;
  color: $text-color;
}

* {
  box-sizing: border-box;
}

p {
  line-height: 1.5;
}

header {
  max-width: 800px;
  @include centerHorizontally();

  ul {
    @include resetMarginPadding();
  }

  li {
    display: inline-block;
    margin-left: 1rem;
  }

  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 0rem;
    margin: 0 4rem;
  }

  a {
    font-weight: bold;
    color: $secondary-color;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-decoration: none;
  }
}

main {
  max-width: 800px;
  @include centerHorizontally();

  margin-right: 4rem;
  padding: 4rem;

  background-color: $primary-color;

  .article {
    position: relative;
  }

  section:not(.section-heading) {
    margin-left: 33%;
    width: 67%;
  }

  h1 {
    position: absolute;
    font-size: 48px;
    left: 0;
    margin-left: 3rem;
    z-index: 1;
    writing-mode: vertical-rl;
    text-orientation: upright;
  }

  .main-heading {
    position: relative;
    display: flex;
    justify-content: flex-end;
  }

  .image-container {
    max-width: 67%;

    img {
      border-radius: 50%;
    }
  }

  a {
    color: $secondary-color;
    text-decoration: none;
  }
}

footer {
  @include centerHorizontally();

  max-width: 800px;

  nav {
    margin: 2rem 4rem 1rem 4rem;
    display: flex;

    ul {
      padding: 0;
      list-style-type: none;
      width: calc(33%);
    }

    ul:first-of-type {
      width: calc(33%);
    }

    li {
      margin-bottom: 0.5rem;
    }

    a {
      font-weight: bold;
      color: $secondary-color;
      text-decoration: none;
    }
  }

  small {
    color: $text-muted-color;
    margin-left: 4rem;
    padding-bottom: 2rem;
  }
}
